<div id="AboutTable">
    <div class="column">
        <h3>About PRSS Dashboard</h3>
        <p>The <b>Programming and Reporting Support Services</b> department has the ability to create custom applications to fit business needs. Such applications are entirely customizable, because we create them ourselves. Oftentimes these applications get information from multiple sources, like Yardi, RealPage, Dayforce, and other vendor databases.</p>
        <p>We have a lot of projects planned for the future, and are excited to add to this list!</p>
    </div>
    <div class="column">
        <h3>Contact Us</h3>
        <p>If you believe you found a bug in one of the applications listed on this dashboard, or if you have any other comments or concerns, please contact us at <a href="mailto:PRSSHelpdesk@winnco.com">PRSSHelpdesk@winnco.com</a>.</p>
    </div>
    <div class="column">
        <h3>About PRSS</h3>
        <p>
            <b>Terry Craig</b><br />
            <em>Director of Programming and Reporting</em>
        </p>
        <p>
            <b>Anna Tamaoka</b><br />
            <em>Programmer/Analyst</em>
        </p>
        <p>
            <b>Erald Dervishi</b><br />
            <em>Programmer/Analyst</em>
    </div>
</div>