<div id="AllPrograms">
    <div class="programContainer">
        <a href="https://mcra2.azurewebsites.net/Login" target="_blank">
            <div class="program">
                <p><i class="fas fa-money-check"></i><br />MCRA</p>
            </div>
        </a><br />
        <a href="https://mcra2.azurewebsites.net/About">
            <div class="about">
                About
            </div>
        </a>
    </div>
    <div class="programContainer">
        <a href="https://payrollbudget.azurewebsites.net" target="_blank">
            <div class="program">
                <p><i class="fas fa-money-bill"></i><br />Payroll Budget</p>
            </div>
        </a><br />
        <a href="#">
            <div class="about">
                @*About*@
            </div>
        </a>
    </div>
    <div class="programContainer" disabled>
        <a href="#" target="_blank">
            <div class="program">
                <p><i class="fas fa-money-bill"></i><br />Employee Expense Reimbursement</p>
            </div>
        </a><br />
        <a href="#">
            <div class="about">
                Coming Soon!
            </div>
        </a>
    </div>
    <div class="programContainer" disabled>
        <a href="#" target="_blank">
            <div class="program">
                <p><i class="fas fa-key"></i><br />Payment Arrangements</p>
            </div>
        </a><br />
        <a href="#">
            <div class="about">
                Coming Soon!
            </div>
        </a>
    </div>
    <div class="programContainer" disabled>
        <a href="#" target="_blank">
            <div class="program">
                <p><i class="fas fa-laptop-house"></i><br />Yardi or RealPage</p>
            </div>
        </a><br />
        <a href="#">
            <div class="about">
                Coming Soon!
            </div>
        </a>
    </div>
</div>